@import "tailwindcss";
html {
  font-size: 62.5%;
}

p,
span,
button {
  font-size: 1.6rem;
}

a {
  font-size: 1.5rem;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #c1121f;
  --color-secondary: #006992;
  --color-tertiary: #6c63ff;
  --color-bg-primary: #eff2ef;
  --color-bg-secondary: #071108;
}

section {
  max-width: 140rem;
  margin: 0 auto;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
